.parent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 420px;
    height: 4200px;
    margin-bottom: 50px;
}

.menu {
    margin-left: 100px;
}

.mini-grid {
    margin-top: 50px;
    width: 168px;
    height: 168px;
}

.grid,
.mini-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #DFF3E3;
}

.grid div,
.mini-grid div {
    width: 40px;
    height: 40px;
}

.line {
    border: 1px solid #BEE5BF;
    border-radius: 4px;
}